@import url("https://fonts.googleapis.com/css?family=Asap:500,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  background-color: white; 
  padding: 20px;
}

header > h1 {
  color: #24272E;
  text-align: center;
  font-family: Asap, sans-serif;
}

.score-board {
  margin: 20px auto;
  border: 3px solid blue;
  border-radius: 4px;
  padding: 15px 20px;
  width:  300px;
  font-size: 46px;
  text-align: center;
  font-family: Asap, sans-serif;
  position: relative;
}

.badge {
  background: #E2584D;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  font-family: Asap, sans-serif;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
font-size: 40 px;
color: white;
}

.result > p {
text-align: center;
font-weight: bold;
font-family: Asap, sans-serif
}

.choices {
  margin-top: 50px;
  text-align:  center;
}

.choice {
  
  border-radius: 50%;
  margin: 0 10px;
  padding: 4px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: white;
}



#action-message {
  text-align: center;
  color: blue;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 25px;
}